@import "bootstrap/variables.less";

.jumbotron {
    background: url(/images/pattern.svg);
    color: tint(#5d2f75, 95%);
    margin-top: -30px;

    .container {
        margin-left: 15px;
        h1 {
            margin-left: 0px;
            margin-top: 15px;
        }
    }
}

.img-fluid {
    max-width: 100%;
    margin: 12px auto;
}

.disclaimer {
    padding: 15px;
    background-color: #bb2419;
    color: white;
    margin: 10px;
    font-weight: bold;
}

.content a {
    text-decoration: underline;
}

.content dd a {
    text-decoration: none;
}

p {
    margin-top: 30px;
}

blockquote p {
    margin-top: 0;
}

.jumbotron p {
    margin-top: 0;
}

pre {
    margin-top: 30px;
    
    code {
        font-size: 14px;
    }
}

blockquote {
    padding: 12px 24px;
    margin: 0 0 12px;
    font-size: @font-size-small;
    border-left: 5px solid #eeeeee;
}

.code-filename {
    background: darken(@brand-primary, 12%);
    border-radius: 4px 4px 0 0;
    color: #DCDCDC;
    padding: 8px;
    font-family: @font-family-monospace;
    font-size: 12px;
    display: inline-block;
    margin: 30px 0 -2px 1px;
}

.code-filename + pre {
    margin-top: 0;
}

.nav.platform-choice {
    margin-top: 30px;
}

.tab-content.platform-choice {
    background:  @nav-tabs-active-link-hover-bg;
    border-color: @nav-tabs-border-color;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    padding: 30px 16px;
}